In [1]:
import pandas as pd
import numpy as np

from sklearn.impute import KNNImputer

In [2]:
df=pd.DataFrame({"P": [40,45,43,np.nan,41,48,50],
                  "Q" : [10,28,13,16,20,17,15],
                  "R": [1,5,1,2,8,3,9]})
df

      P   Q  R
0  40.0  10  1
1  45.0  28  5
2  43.0  13  1
3   NaN  16  2
4  41.0  20  8
5  48.0  17  3
6  50.0  15  9

In [3]:
df["P"].mean()

44.5

Nan Eucledian Distance = sqrt[weight*distance]

weight = (Total no of coordinates) / (No of Present Coordinates)

In [4]:
knn_imputer = KNNImputer(n_neighbors=3)
array1 = knn_imputer.fit_transform(df)
df1 = pd.DataFrame(array1,columns=df.columns)
df1

           P     Q    R
0  40.000000  10.0  1.0
1  45.000000  28.0  5.0
2  43.000000  13.0  1.0
3  43.666667  16.0  2.0
4  41.000000  20.0  8.0
5  48.000000  17.0  3.0
6  50.000000  15.0  9.0

In [5]:
df=pd.DataFrame({"P": [40,45,43,np.nan,41,48,50],
                  "Q" : [10,28,13,16,20,np.nan,15],
                  "R": [1,5,1,2,8,3,9],
                  "S": [1,0,2,np.nan,np.nan,2,0]})
df

      P     Q  R    S
0  40.0  10.0  1  1.0
1  45.0  28.0  5  0.0
2  43.0  13.0  1  2.0
3   NaN  16.0  2  NaN
4  41.0  20.0  8  NaN
5  48.0   NaN  3  2.0
6  50.0  15.0  9  0.0

In [8]:
knn_imputer = KNNImputer(n_neighbors=1)
array1 = knn_imputer.fit_transform(df)
df1=pd.DataFrame(array1,columns=df.columns)
df1

      P     Q    R    S
0  40.0  10.0  1.0  1.0
1  45.0  28.0  5.0  0.0
2  43.0  13.0  1.0  2.0
3  48.0  16.0  2.0  2.0
4  41.0  20.0  8.0  0.0
5  48.0  16.0  3.0  2.0
6  50.0  15.0  9.0  0.0