Sampling 

1. Over Sampling 
2. Under Sampling 

1. Random Oversampler 
2. Random UnderSampler 
3. Smote

In [1]:
import pandas as pd
import numpy as np
from imblearn.over_sampling import RandomOverSampler

In [2]:
df=pd.read_csv("diabetes.csv")
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,50,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,52,1
3,150,66,23,94,28.1,0.167,21,0
4,150,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [3]:
df["Outcome"].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [4]:
500/(500+268)

0.6510416666666666

In [5]:
268/(500+268)

0.3489583333333333

In [6]:
x=df.drop("Outcome",axis=1)
y=df["Outcome"]

In [11]:
x

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.6,0.627,50
1,85,66,29,0,26.6,0.351,31
2,183,64,0,0,23.3,0.672,52
3,150,66,23,94,28.1,0.167,21
4,150,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63
764,122,70,27,0,36.8,0.340,27
765,121,72,23,112,26.2,0.245,30
766,126,60,0,0,30.1,0.349,47
767,93,70,31,0,30.4,0.315,23

In [12]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [7]:
random_oversampling = RandomOverSampler()
random_oversampling.fit_resample(x,y)

(     Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
 0        148             50             35        0  33.6
 1         85             66             29        0  26.6
 2        183             64              0        0  23.3
 3        150             66             23       94  28.1
 4        150             40             35      168  43.1
 ..       ...            ...            ...      ...   ...
 995      158            114              0        0  42.3
 996      138             74             26      144  36.1
 997      107             62             13       48  22.9
 998      169             74             19      125  29.9
 999      173             82             48      465  38.4

      DiabetesPedigreeFunction  Age
 0                       0.627   50
 1                       0.351   31
 2                       0.672   52
 3                       0.167   21
 4                       2.288   33
 ..                        ...  ...
 995                     0.257   44
 996                     0.557   50
 997                     0.678   23
 998                     0.268   31
 999                     2.137   25

 [1000 rows x 7 columns],
 0      1
 1      0
 2      1
 3      0
 4      1
       ..
 995    1
 996    1
 997    1
 998    1
 999    1
 Name: Outcome, Length: 1000, dtype: int64)

In [8]:
x_sampled,y_sampled=random_oversampling.fit_resample(x,y)

In [9]:
x_sampled

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.6,0.627,50
1,85,66,29,0,26.6,0.351,31
2,183,64,0,0,23.3,0.672,52
3,150,66,23,94,28.1,0.167,21
4,150,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...
995,134,80,37,370,46.2,0.238,46
996,138,0,0,0,36.3,0.933,25
997,125,78,31,0,27.6,0.565,49
998,199,76,43,0,42.9,1.394,22
999,92,62,7,258,27.6,0.926,44

In [10]:
y_sampled

0      1
1      0
2      1
3      0
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Name: Outcome, Length: 1000, dtype: int64

In [13]:
y_sampled.value_counts()

Outcome
1    500
0    500
Name: count, dtype: int64

In [14]:
random_oversampling = RandomOverSampler(sampling_strategy=0.9)
x_sampled, y_sampled = random_oversampling.fit_resample(x,y)

In [15]:
y_sampled.value_counts()

Outcome
0    500
1    450
Name: count, dtype: int64

SMOTE >> Simple minority oversampling technique

In [16]:
from imblearn.over_sampling import SMOTE

In [17]:
x

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.6,0.627,50
1,85,66,29,0,26.6,0.351,31
2,183,64,0,0,23.3,0.672,52
3,150,66,23,94,28.1,0.167,21
4,150,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63
764,122,70,27,0,36.8,0.340,27
765,121,72,23,112,26.2,0.245,30
766,126,60,0,0,30.1,0.349,47
767,93,70,31,0,30.4,0.315,23

In [18]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [19]:
y.value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [20]:
smt = SMOTE(k_neighbors=5)

x_sampled,y_sampled=smt.fit_resample(x,y)
x_sampled

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.600000,0.627000,50
1,85,66,29,0,26.600000,0.351000,31
2,183,64,0,0,23.300000,0.672000,52
3,150,66,23,94,28.100000,0.167000,21
4,150,40,35,168,43.100000,2.288000,33
...,...,...,...,...,...,...,...
995,184,75,39,283,37.163328,0.261667,33
996,143,67,0,0,35.731339,0.185808,37
997,146,62,29,318,31.985346,0.199429,32
998,165,84,39,322,37.658832,0.698208,38
999,105,71,0,0,31.018127,0.592311,36

In [21]:
y_sampled

0      1
1      0
2      1
3      0
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Name: Outcome, Length: 1000, dtype: int64

In [22]:
y_sampled.value_counts()

Outcome
1    500
0    500
Name: count, dtype: int64

In [23]:
smt = SMOTE(k_neighbors=5,sampling_strategy=0.7)
x_sampled,y_sampled=smt.fit_resample(x,y)
x_sampled

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.600000,0.627000,50
1,85,66,29,0,26.600000,0.351000,31
2,183,64,0,0,23.300000,0.672000,52
3,150,66,23,94,28.100000,0.167000,21
4,150,40,35,168,43.100000,2.288000,33
...,...,...,...,...,...,...,...
845,152,60,27,318,30.933337,0.198117,29
846,182,84,10,0,32.921072,0.952759,46
847,111,73,35,107,30.301612,0.600212,31
848,135,0,0,0,52.266431,0.578216,39
849,138,75,26,144,36.139427,0.533107,50

In [24]:
y_sampled

0      1
1      0
2      1
3      0
4      1
      ..
845    1
846    1
847    1
848    1
849    1
Name: Outcome, Length: 850, dtype: int64

In [25]:
y_sampled.value_counts()

Outcome
0    500
1    350
Name: count, dtype: int64

In [26]:
from imblearn.under_sampling import RandomUnderSampler

In [27]:
random_undersampling = RandomUnderSampler()
x_sampled,y_sampled=random_undersampling.fit_resample(x,y)
x_sampled

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
249,111,86,19,0,30.1,0.143,23
627,132,78,0,0,32.4,0.393,21
571,130,96,0,0,22.6,0.268,21
304,150,76,0,0,21.0,0.207,37
422,102,64,46,78,40.6,0.496,21
...,...,...,...,...,...,...,...
755,128,88,39,110,36.5,1.057,37
757,123,72,0,0,36.3,0.258,52
759,190,92,0,0,35.5,0.278,66
761,170,74,31,0,44.0,0.403,43
766,126,60,0,0,30.1,0.349,47

In [28]:
y_sampled

249    0
627    0
571    0
304    0
422    0
      ..
755    1
757    1
759    1
761    1
766    1
Name: Outcome, Length: 536, dtype: int64

In [29]:
y_sampled.value_counts()

Outcome
0    268
1    268
Name: count, dtype: int64

In [30]:
random_undersampling = RandomUnderSampler(sampling_strategy=0.80)
random_undersampling.fit_resample(x,y)
x_sampled,y_sampled=random_undersampling.fit_resample(x,y)
y_sampled.value_counts()

Outcome
0    335
1    268
Name: count, dtype: int64

### Sampling 
1. Over Sampling 
2. Under Sampling 

1. Random Oversampler 
2. Random Undersampler 
3. SMOTE

Random OverSampler

In [31]:
import pandas as pd
import numpy as np
from imblearn.over_sampling import RandomOverSampler

In [32]:
df=pd.read_csv("diabetes.csv")
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,50,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,52,1
3,150,66,23,94,28.1,0.167,21,0
4,150,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [33]:
df["Outcome"].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [34]:
500/(500+268)

0.6510416666666666

In [35]:
268/(500+268)

0.3489583333333333

In [36]:
x=df.drop("Outcome",axis=1)
y=df["Outcome"]

In [37]:
random_oversampling = RandomOverSampler()
x_sampled, y_sampled=random_oversampling.fit_resample(x,y,)

In [38]:
x_sampled

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.6,0.627,50
1,85,66,29,0,26.6,0.351,31
2,183,64,0,0,23.3,0.672,52
3,150,66,23,94,28.1,0.167,21
4,150,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...
995,171,72,33,135,33.3,0.199,24
996,144,58,33,135,31.6,0.422,25
997,186,90,35,225,34.5,0.423,37
998,125,70,18,122,28.9,1.144,45
999,80,82,31,70,34.2,1.292,27

In [39]:
y_sampled

0      1
1      0
2      1
3      0
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Name: Outcome, Length: 1000, dtype: int64

In [40]:
y_sampled.value_counts()

Outcome
1    500
0    500
Name: count, dtype: int64

In [41]:
random_oversampling = RandomOverSampler(sampling_strategy=0.8)
x_sampled, y_sampled=random_oversampling.fit_resample(x,y)

In [42]:
y_sampled.value_counts()

Outcome
0    500
1    400
Name: count, dtype: int64

In [43]:
random_oversampling = RandomOverSampler(sampling_strategy=0.6)
x_sampled, y_sampled=random_oversampling.fit_resample(x,y)

In [44]:
y_sampled.value_counts()

Outcome
0    500
1    300
Name: count, dtype: int64

SMOTE >> Synthetic Minority oversampling Technique

In [45]:
from imblearn.over_sampling import SMOTE

In [46]:
x

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.6,0.627,50
1,85,66,29,0,26.6,0.351,31
2,183,64,0,0,23.3,0.672,52
3,150,66,23,94,28.1,0.167,21
4,150,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63
764,122,70,27,0,36.8,0.340,27
765,121,72,23,112,26.2,0.245,30
766,126,60,0,0,30.1,0.349,47
767,93,70,31,0,30.4,0.315,23

In [47]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [48]:
smt = SMOTE(k_neighbors=5)
x_sampled,y_sampled=smt.fit_resample(x,y)
x_sampled

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.600000,0.627000,50
1,85,66,29,0,26.600000,0.351000,31
2,183,64,0,0,23.300000,0.672000,52
3,150,66,23,94,28.100000,0.167000,21
4,150,40,35,168,43.100000,2.288000,33
...,...,...,...,...,...,...,...
995,142,92,32,145,36.572462,0.270688,50
996,165,0,0,0,32.016280,0.803594,29
997,131,67,25,122,31.102648,0.387773,28
998,160,71,38,116,38.450625,0.718180,45
999,89,83,27,47,36.326964,0.597413,25

In [49]:
y_sampled

0      1
1      0
2      1
3      0
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Name: Outcome, Length: 1000, dtype: int64

In [50]:
y_sampled.value_counts()

Outcome
1    500
0    500
Name: count, dtype: int64

In [51]:
smt =SMOTE(k_neighbors=5,sampling_strategy=0.7)
x_sampled,y_sampled=smt.fit_resample(x,y)
x_sampled

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.600000,0.627000,50
1,85,66,29,0,26.600000,0.351000,31
2,183,64,0,0,23.300000,0.672000,52
3,150,66,23,94,28.100000,0.167000,21
4,150,40,35,168,43.100000,2.288000,33
...,...,...,...,...,...,...,...
845,131,0,0,0,34.713810,0.296365,23
846,165,79,44,526,36.916380,0.190082,30
847,153,44,34,170,39.205642,1.762571,34
848,136,83,35,130,28.409631,0.264305,41
849,129,64,29,114,27.458274,0.212472,29

In [53]:
y_sampled.value_counts()

Outcome
0    500
1    350
Name: count, dtype: int64

Random Undersampling

In [54]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [55]:
y.value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [56]:
from imblearn.under_sampling import RandomUnderSampler

In [57]:
random_undersampling = RandomUnderSampler()
x_sampled, y_sampled=random_undersampling.fit_resample(x, y)
y_sampled.value_counts()

Outcome
0    268
1    268
Name: count, dtype: int64

In [59]:
random_undersampling = RandomUnderSampler(sampling_strategy=0.7)
x_sampled, y_sampled=random_undersampling.fit_resample(x,y)
y_sampled.value_counts()

Outcome
0    382
1    268
Name: count, dtype: int64

#### Sampling
1. OverSampling
2. UnderSampling


1. Random Oversampler
2. Random UnderSampler
3. SMOTE

Random OverSampler

In [60]:
import pandas as pd
import numpy as np
from imblearn.over_sampling import RandomOverSampler

In [61]:
df=pd.read_csv("diabetes.csv")
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,50,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,52,1
3,150,66,23,94,28.1,0.167,21,0
4,150,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [66]:
x=df.drop("Outcome",axis=1)
y=df["Outcome"]

In [67]:
random_oversampling = RandomOverSampler()
x_sampled, y_sampled=random_oversampling.fit_resample(x, y)
y_sampled.value_counts()

Outcome
1    500
0    500
Name: count, dtype: int64

In [68]:
y.value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [69]:
random_oversampling = RandomOverSampler(sampling_strategy=0.8)
x_sampled, y_sampled= random_oversampling.fit_resample(x,y)
y_sampled.value_counts()

Outcome
0    500
1    400
Name: count, dtype: int64

In [70]:
y.value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

SMOTE >> Synthetic minority oversampling technique

In [71]:
from imblearn.over_sampling import SMOTE

In [72]:
smt =SMOTE()
x_sampled, y_sampled=smt.fit_resample(x,y)
y_sampled.value_counts()

Outcome
1    500
0    500
Name: count, dtype: int64

In [73]:
y.value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [74]:
smt =SMOTE(sampling_strategy=0.8)
x_sampled, y_sampled=smt.fit_resample(x,y)
y_sampled.value_counts()

Outcome
0    500
1    400
Name: count, dtype: int64

Ramdom UnderSampling

In [75]:
from imblearn.under_sampling import RandomUnderSampler

In [76]:
random_undersampling = RandomUnderSampler()
x_sampled,y_sampled = random_undersampling.fit_resample(x,y)
y_sampled.value_counts()

Outcome
0    268
1    268
Name: count, dtype: int64

In [77]:
y.value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [79]:
random_undersampling = RandomUnderSampler(sampling_strategy=0.9)
x_sampled, y_sampled = random_undersampling.fit_resample(x, y)
y_sampled.value_counts()

Outcome
0    297
1    268
Name: count, dtype: int64

# Sampling

1. OverSampling 
2. UnderSampling

* Random OverSampler
* Random UnderSampler
* SMOTE

Random Oversampler

In [1]:
import pandas as pd
import numpy as np
from imblearn.over_sampling import RandomOverSampler

In [2]:
df=pd.read_csv("diabetes.csv")
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,50,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,52,1
3,150,66,23,94,28.1,0.167,21,0
4,150,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [3]:
df["Outcome"].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [4]:
x=df.drop("Outcome",axis=1)
y=df["Outcome"]

In [5]:
x

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.6,0.627,50
1,85,66,29,0,26.6,0.351,31
2,183,64,0,0,23.3,0.672,52
3,150,66,23,94,28.1,0.167,21
4,150,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63
764,122,70,27,0,36.8,0.340,27
765,121,72,23,112,26.2,0.245,30
766,126,60,0,0,30.1,0.349,47
767,93,70,31,0,30.4,0.315,23

In [6]:
random_oversampling = RandomOverSampler()
x_sampled, y_sampled = random_oversampling.fit_resample(x,y)

In [7]:
x_sampled

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.6,0.627,50
1,85,66,29,0,26.6,0.351,31
2,183,64,0,0,23.3,0.672,52
3,150,66,23,94,28.1,0.167,21
4,150,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...
995,124,74,0,0,34.0,0.220,38
996,189,104,25,0,34.3,0.435,41
997,164,84,21,0,30.8,0.831,32
998,193,70,31,0,34.9,0.241,25
999,93,64,32,160,38.0,0.674,23

In [8]:
x

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.6,0.627,50
1,85,66,29,0,26.6,0.351,31
2,183,64,0,0,23.3,0.672,52
3,150,66,23,94,28.1,0.167,21
4,150,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63
764,122,70,27,0,36.8,0.340,27
765,121,72,23,112,26.2,0.245,30
766,126,60,0,0,30.1,0.349,47
767,93,70,31,0,30.4,0.315,23

In [9]:
y_sampled

0      1
1      0
2      1
3      0
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Name: Outcome, Length: 1000, dtype: int64

In [10]:
x_sampled.value_counts()

Glucose  BloodPressure  SkinThickness  Insulin  BMI   DiabetesPedigreeFunction  Age
152      78             34             171      34.2  0.893                     33     5
107      74             0              0        29.6  0.254                     31     5
190      92             0              0        35.5  0.278                     66     4
148      50             35             0        33.6  0.627                     50     4
95       64             0              0        32.0  0.161                     31     4
                                                                                      ..
105      90             0              0        29.6  0.197                     46     1
106      52             0              0        31.2  0.380                     42     1
         54             21             158      30.9  0.292                     24     1
         56             27             165      29.0  0.426                     22     1
117      92             0              0        34.1  0.337                     38     1
Name: count, Length: 768, dtype: int64

In [11]:
y_sampled.value_counts()

Outcome
1    500
0    500
Name: count, dtype: int64

In [12]:
random_oversampling = RandomOverSampler(sampling_strategy=0.9)
x_sampled, y_sampled=random_oversampling.fit_resample(x,y)

In [13]:
y_sampled.value_counts()

Outcome
0    500
1    450
Name: count, dtype: int64

In [14]:
random_oversampling=RandomOverSampler(sampling_strategy=0.7)
x_sampled, y_sampled=random_oversampling.fit_resample(x,y)
y_sampled.value_counts()

Outcome
0    500
1    350
Name: count, dtype: int64

SMOTE >> Synthetic minority Oversampling technique

In [15]:
from imblearn.over_sampling import SMOTE

In [16]:
x

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.6,0.627,50
1,85,66,29,0,26.6,0.351,31
2,183,64,0,0,23.3,0.672,52
3,150,66,23,94,28.1,0.167,21
4,150,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63
764,122,70,27,0,36.8,0.340,27
765,121,72,23,112,26.2,0.245,30
766,126,60,0,0,30.1,0.349,47
767,93,70,31,0,30.4,0.315,23

In [17]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [18]:
y.value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [19]:
smt = SMOTE(k_neighbors=5)
x_sampled, y_sampled=smt.fit_resample(x,y)
x_sampled

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.600000,0.627000,50
1,85,66,29,0,26.600000,0.351000,31
2,183,64,0,0,23.300000,0.672000,52
3,150,66,23,94,28.100000,0.167000,21
4,150,40,35,168,43.100000,2.288000,33
...,...,...,...,...,...,...,...
995,109,75,29,0,32.089558,0.679727,41
996,176,85,37,490,39.101951,0.241885,23
997,107,62,17,55,26.638348,0.699557,23
998,193,78,0,0,23.565381,0.139904,58
999,163,75,0,0,46.336374,0.315035,28

In [20]:
y_sampled

0      1
1      0
2      1
3      0
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Name: Outcome, Length: 1000, dtype: int64

In [21]:
smt =SMOTE(k_neighbors=5,sampling_strategy=0.8)
x_sampled,y_sampled=smt.fit_resample(x,y)
x_sampled

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,50,35,0,33.600000,0.627000,50
1,85,66,29,0,26.600000,0.351000,31
2,183,64,0,0,23.300000,0.672000,52
3,150,66,23,94,28.100000,0.167000,21
4,150,40,35,168,43.100000,2.288000,33
...,...,...,...,...,...,...,...
895,178,95,27,0,34.662267,0.678237,46
896,152,88,29,152,34.912452,0.940025,44
897,129,70,20,125,31.933684,0.863034,37
898,143,71,39,248,38.180101,0.552128,25
899,173,75,0,0,37.293333,0.126671,38

In [22]:
y_sampled.value_counts()

Outcome
0    500
1    400
Name: count, dtype: int64

Random OverSampling

In [23]:
y.value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [24]:
from imblearn.under_sampling import RandomUnderSampler

In [25]:
random_undersampling = RandomUnderSampler()
x_sampled, y_sampled=random_undersampling.fit_resample(x, y)
y_sampled.value_counts()

Outcome
0    268
1    268
Name: count, dtype: int64

In [26]:
random_undersampling=RandomUnderSampler(sampling_strategy=0.8)
x_sampled, y_sampled=random_undersampling.fit_resample(x,y)
y_sampled.value_counts()

Outcome
0    335
1    268
Name: count, dtype: int64